@font-face {
    font-family: 'caladearegular';
    src: url('../fonts/Caladea/caladea.eot');
    src: url('../fonts/Caladea/caladea.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Caladea/caladea.woff2') format('woff2'),
         url('../fonts/Caladea/caladea.woff') format('woff'),
         url('../fonts/Caladea/caladea.ttf') format('truetype'),
         url('../fonts/Caladea/caladea.svg#caladearegular') format('svg');
    font-weight: normal;
    font-style: normal;
}