@font-face {
    font-family: 'aileronregular';
    src: url('../fonts/Aileron/aileron.eot');
    src: url('../fonts/Aileron/aileron.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron/aileron.woff2') format('woff2'),
         url('../fonts/Aileron/aileron.woff') format('woff'),
         url('../fonts/Aileron/aileron.ttf') format('truetype'),
         url('../fonts/Aileron/aileron.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}